.wrap {
    color: white;
    width: 100vw;
    height: 100vh;
}

.games {

    padding: 15px;

    display: flex;
    flex-direction: column;
}

.link{
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;

}